
<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <link rel="stylesheet" type="text/css" href="styles.css">
  <title>Медицински здравен център
  </title>
</head>
<body>
<div class="container">
  <div class="logo">
    <!-- Your SVG logo goes here -->
  </div>
  <form method="post" action="/login">
    <div class="input-field">
      <label>Username</label>
      <label>
        <input type="user" name="user" placeholder="Username" required>
      </label>
    </div>
    <div class="input-field">
      <label>Password</label>
      <label>
        <input type="password" name="password" placeholder="••••••••" required>
      </label>
    </div>
    <button type="submit" class="login">Login</button>
  </form>
  <div class="footer">
    <span>Sign up</span>
    <span>Forgot Password?</span>
  </div>
</div>
</body>
</html>
