<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
  <meta charset="UTF-8">
  <title>История на заболявания</title>
  <link rel="stylesheet" type="text/css" th:href="@{/css/styles.css}">
</head>
<body>
<h1>История на заболявания</h1>
<table>
  <thead>
  <tr>
    <th>Диагноза</th>
    <th>Дата</th>
    <th>Лекар</th>
    <th>Лекарство</th>
  </tr>
  </thead>
  <tbody>
  <tr th:each="visit : ${patient.visits}">
    <td th:text="${visit.diagnosis}"></td>
    <td th:text="${visit.date}"></td>
    <td th:text="${visit.doctor.name}"></td>
    <td th:text="${visit.treatment}"></td>
  </tr>
  </tbody>
</table>
</body>
</html>